.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.users-card-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
